{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block body %}

<!-- <p>Description about me</p> -->

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4">
            <img src="../static/img/literally_me.jpg" alt="handsome_pablo" style="width:100%;height:auto;">
            <br><br>
            <h3>Contact info:</h3>
            <a href="https://github.com/P219-C">
                <img src="../static/img/Octocat.png" alt="octocat" style="width:7%;height:auto;">
                <strong>GitHub</strong>
            </a>
            <br>
            <a href="https://www.linkedin.com/in/pablo-crespo-carrillo-aba375164/">
                <img src="../static/img/linkedin.png" alt="linkedin" style="width:6%;height:auto;">
                <strong>LinkedIn</strong>
            </a>
        </div>
        <div class="col-8">
            <h3>Hello there!</h3>
            <p>Thanks for checking my web application. Before you leave, let me introduce myself.</p>
            <p>My name is <em>Pablo</em>. I was born and raised in Mexico, where I obtained a Bachelor's Degree 
                in Geophysical Engineering from the National Autonomous University of Mexico.</p>
            <p>Right after my undergrad and thrilled to learn more about the Oil & Gas Industry, I joined a Mexican 
                company dedicated to extracting and producing hydrocarbons (Jaguar Exploration & Production).</p>
            <p>In 2019 I decided to move to Australia to continue developing my professional skills by completing the 
                Master of Science in Geophysics at Curtin University. In February 2021, after two years of hard work, 
                I graduated with distinction.</p>
            <p>Around the same time, I was also a Summer Vacation Student at Woodside, where my project consisted 
                of seismic interpretation and assessment of offshore gas fields. Using the knowledge and skills that 
                I developed in the past years, and with my fantastic team, we successfully achieved the program objectives 
                and I received an invitation to join Woodside again, this time as part of the Graduate Development Program,
                 with the commitment to start the year after.</p>
            <p>However, plans do not always go as expected, and unfortunately, I lost my opportunity at Woodside due to internal restructuring...</p>
            <p>Without an immediate plan, I decided to start a <em>new project</em> while looking for my next challenge in life!</p>
            <p>This <em>new project</em> came in the form of a Data Analytics Bootcamp organized by The University of Western Australia in partnership 
                with Trilogy Education Services (best decision ever). Without this course and the amazing instructors and staff, you would not be reading my heartwarming story or
                enjoying my interesting application.</p>
            <p>And that's it! That's a wrap! I completed the Data Analytics Bootcamp and got a new job at Mineral Resources Limited as a Graduate Geoscientist! It has
                been a great experience so far with an astonishing team. In my new job I have been able to apply some of the skills I learnt throughout the course (particularly Python).
            </p>
            <p>Feel free to get in contact if you want to chat about anything (my web app, coding, hobbies -I love volleyball-, movies... Whatever!). I am building my Data Analytics Network.</p>
            <br>
            <p>Cheers!</p>
            <p><strong>Pablo</strong></p>
        </div>
    </div>
</div>
<a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons">Linkedin icons created by Freepik - Flaticon</a>
{% endblock %}