{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block body %}



<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <a href="https://mybinder.org/v2/gh/P219-C/earthquake_tool/main">
            <img src="https://mybinder.org/badge_logo.svg" alt="MyBinder" style="width:7%;height:auto;">
        </a>

        <h2>Number of earthquakes with magnitude (Mw) >=5 from 2010 to 2020</h2>
        <!-- <p>Description</p> -->
        <br>
        <div class="col-6">
            <div id="earthquake_year"></div>
        </div>
    </div>
</div>

<br><br>

<div class="container-fluid">
    <div class="row">
        <h2>2011 earthquake distribution</h2>
        <!-- <p>Description</p> -->
        <br>
        <div class="col-md-8">
            <!-- READ THIS: https://gis.stackexchange.com/questions/315754/using-leaflet-inside-bootstrap-container -->
            <div id="map"></div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <h5>Country:</h5>
                <!-- do i need onchange="optionChanged(this.value)"? -->
                <!-- <select id="selDataset" onchange="optionChanged(this.value)"></select> -->
                <select id="selDataset"></select> 
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">2011 Information</h4>
                </div>
                <div id="sample-metadata" class="panel-body">
                    <table id="demographic-table" class="table">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row justify-content-center">
        <h2>Statistics of earthquakes by country in 2011</h2>
        <p> If the selected country is absent there were no earthquakes with magnitudes higher or equal than 6 during 2011.</p>
        <br>
        <div class="col-8">
            
            <!-- <div class="container-plots"> -->
            <div id="violin"></div>
            <!-- </div> -->
        </div>
    </div>
</div>



<!-- API key -->
    <script type="text/javascript" src="../static/js/config.js"></script>
<!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
<!-- d3 JavaScript / D3 CDN -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
<!-- Heatmap JS -->
    <script type="text/javascript" src="../static/js/leaflet-heat.js"></script>
<!-- My JS code -->
    <script type="text/javascript" src="../static/js/violin.js"></script>
    <script type="text/javascript" src="../static/js/jsModule.js"></script>
    <script type="text/javascript" src="../static/js/logic.js"></script>

{% endblock %}

