{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block body %}

<!-- <p>Description of each API and the ETL process</p> -->
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <img src="../static/img/ETL_diagram.svg" alt="ETL_diagram" style="width:80%;height:auto;">
    </div>
    <br>
    <div class="row justify-content-center">
        <img src="../static/img/app_diagram.svg" alt="app_diagram" style="width:70%;height:auto;">
    </div>
    <br>
    <div class="row justify-content-center">
        <img src="../static/img/data_routes.svg" alt="data_routes" style="width:40%;height:auto;">
    </div>
    <br><br>
    <div class="row justify-content-center">
        <img src="../static/img/visualisations.svg" alt="visualisations" style="width:40%;height:auto;">    
    </div>
    <br><br>
</div>

{% endblock %}