{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block body %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="/analysis">
                <img src="..\static\img\analysis.svg" class="d-block w-100" alt="analysis.svg">
            </a>
            <div class="carousel-caption">
                <h5>My Earthquake web application</h5>
                <p>Visualize my results to date and explore the seismic activity during 2011.</p>
            </div>
        </div>
        <div class="carousel-item">
            <a href="/API_ETL">
                <img src="..\static\img\ETL.svg" class="d-block w-100" alt="ETL.svg">
            </a>
            <div class="carousel-caption">
                <h5>The ETL process and the road ahead</h5>
                <p>Learn more about the ETL processed I followed and my remaining objectives.</p>
            </div>
        </div>
        <div class="carousel-item">
            <a href="/about_me">
                <img src="..\static\img\me.svg" class="d-block w-100" alt="me.svg">
            </a>
            <div class="carousel-caption">
                <h5>About me</h5>
                <p>Who am I and what have I been up to in the past years?</p>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Did you feel it?</h1>
        <p class="lead">2011 seismic activity - A worldwide review.</p>
        <hr class="my-4">
        <p>The year 2011 registered 2694 earthquakes with magnitudes higher than 5, including two of the costliest earthquakes in history, the <a href="https://earthquake.usgs.gov/earthquakes/eventpage/official20110311054624120_30/origin/detail?source=us&code=usp000hvnu">9.1 Tōhoku earthquake in Japan</a> (Property damage: $360 billion) and the <a href="https://earthobservatory.nasa.gov/images/49417/magnitude-63-earthquake-near-christchurch-nz">6.3 Christchurch earthquake in New Zealand</a> ($15–40 billion).</p>
        <p>An interesting fact is that, out of the 2694 earthquakes, only 207 had magnitudes higher than 6 and an alarming 20 had magnitudes higher than 7. The 9.1 Tōhoku earthquake was the <em><a href="https://earthobservatory.nasa.gov/images/148036/ten-years-after-the-tsunami">"largest quake recorded in Japan and the fourth largest in the world since seismic recording"</a></em>.</p>
        <p>Join me on the early stages of my project (ETL and visualization only) that aims to model and classify countries' preparedness to cope with natural disasters.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="/analysis" role="button">Learn more</a>
        </p>
    </div>
</div>
    


{% endblock %}