<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <a class="navbar-brand" href="/">Earthquakes</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    API
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/API/countries">Countries (2011)</a>
                    <a class="dropdown-item" href="/API/earthquakes">Earthquakes (2011)</a>
                    <a class="dropdown-item" href="/API/gdp">GDP per capita (2010 - 2017)</a>
                    <a class="dropdown-item" href="/API/countries_earthquakes">Countries & Earthquakes</a>
                    <a class="dropdown-item" href="/API/countries_GDP">Countries & GDP</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="comparisons.html">?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="data.html">About?</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li> -->
        </ul>
    </div>
  </nav>